#user-button {
    width: 5.5rem;
    height: 3rem;
}

#user-button:hover {
    color: #fff;
    background-color: #ffffff;
}
.grow { 
    transition: all .15s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.1); 
}