.top {
    margin-left: 11%;
}

#title {
    margin-top: 3%;
    margin-bottom: 2%;
    display: inline-block;
    vertical-align: middle;
}

#createEvent {
    font-size: medium;
    width: 10%;
    margin-top: 1%;
    margin-left: 63%;
    padding: 1%;
    fill: lightgray;
    border: lightgray;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}

.list {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
}

.event {
    font-size: medium;
    width: 100%;
    margin-top: 0.4%;
    padding: 1%;
    fill: lightgray;
    border: lightgray;
    border-radius: 4px;
    text-align: left;
}

#image {
    margin: 2%;
}

#error {
    padding-top: 5%;
    text-align: center;
}

#loader {
    position: absolute;
    margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}