#createEvent {
    font-size: medium;
    width: 10%;
    padding: 1%;
    fill: red;
    border: red;
    background-color: rgb(255, 1, 1);
    color: white;
    border-radius: 4px;
    vertical-align: middle;
}

#title{
    margin-left: 3%;
    padding-bottom: 0px;

}


