#submit-button {
    box-shadow: 0px 6px 20px -5px #ff0000 !important;
}

#logo-img {
    text-align: center;
}

#verify-organizer-container {
    background: #ffffff;
    color: #465362;
    /* height: 700px; */
    width: 1000px;
    border-radius: 20px;
}

#verify-organizer-text {
    font-size: 1.5em;
    font-stretch: expanded;
}