#verify-organizer-node-container {
    background-color: lightgray;
}

/* .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

.hide-scroll-bar{
    -ms-overflow-style: none;
    scrollbar-width: none
} */

.hide-scroll-bar{
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;
}
