.carousel-container {
    border: hidden;
    height: 500px;
}

.event-image {
    object-fit: fill;
    margin-left:"auto";
    margin-right:"auto";
    width: 300px;
    margin-left: 0;
    margin-right: 5%;
}