.error {
    color: red;
    font-size: 14px;
}

.Login-cont{
    margin-top: 10%;
    margin-left: 35%; 
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.User-input{
    margin-left: 5%; 
    width: 75%;
}
.Pass-input{
    margin-left: 5%; 
    width: 75%;
}

label,input{
    display:flex;
    flex-direction:column;
}


input{
    height: 28px;
    width: 120%;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: black;
}

.error {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.message{
    margin: auto;
    width: 30%;
    padding-top: 20px;
    color: green;
}

#login-button{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 83%;
    border: 0.5px solid white;
    background-color: black;
    border-radius: 5px;
    padding: 8px;
}

button:hover{
    background-color: red;

}

.title {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}


