.register-event-card {
    background: #ffffff;
    color: #465362;
    border-radius: 10px;
    height: 275px !important;
    width: 275px !important;
    transition: all 0.2s ease-in-out;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.register-event-card:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 10px 1px rgb(255, 55, 55, 0.25) !important;
    cursor: pointer;
}