.top-event-image {
    background-position: center;
    background-size: cover;
}
.top-event-title {
    font-size: 4.5em;
    letter-spacing: -5px;
    text-shadow: 2px 2px 20px black;
    z-index: 2;
    color: white;
    margin-top: 10% !important;
}
.top-event-meta {
    font-size: 2em;
    letter-spacing: -3px;
    text-shadow: 2px 2px 10px black;
    z-index: 2;
    color: #bbbbbb;
}
.cover-shadow {
    z-index: 1;
    transition: linear 0.1s;
    background: black;
    opacity: 0;
}
.cover-shadow:hover {
    opacity: 0.25;
}
.testing2 {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.top-slider-container {
    height: 500px;
}